In [84]:
import pandas as pd

# (In thousands of US dollars)

df = pd.read_excel('FS-Consolidated_88.xls')
df

,TAIWAN SEMICONDUCTOR MANUFACTURING COMPANY LIMITED AND SUBSIDIARIES,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Consolidated Condensed Balance Sheets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(In Millions of New Taiwan Dollars),NaN,2012,2013,2014,2014 (1),2015,2016,2017,2018,2019,2020,2021,2022
3,NaN,NaN,(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited)
4,NaN,NaN,NaN,NaN,(As Originally Stated),(Adjusted),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cash and Cash Equivalents,NaN,143411,242695,358449,358449,562689,541254,553392,577815,455399,660171,1064990,1342814
8,Investments in Marketable Financial Instru...,NaN,7507,2647,78475,78475,23474,90855,95967,117367,128049,131306,123465,218672
9,Accounts Receivable,NaN,58131,71942,115048,115048,85565,129305,122317,129198,139771,146038,198302,231340
10,Inventories,NaN,37831,37495,66338,66338,67052,48682,73881,103231,82981,137353,193102,221149
11,Other Current Assets,NaN,3446,3708,8257,8256,7964,7633,11646,24069,16414,17317,27214,38922
12,Total Current Assets,NaN,250326,358487,626567,626566,746744,817729,857203,951680,822614,1092185,1607073,2052897
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Non-current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Long-term Investments,NaN,65717,89184,30051,30056,34994,46154,41569,29305,30172,27728,29384,68928
16,"Property, Plant and Equipment",NaN,617562,792666,818199,818199,853470,997778,1062543,1072050,1352377,1555589,1975119,2693837
17,"Right-of-use, Intangible and Other Non-cur...",NaN,27750,22718,20317,20228,22310,24794,30547,37093,59642,85209,113927,149117
18,Total Non-current Assets,NaN,711029,904568,868567,868483,910774,1068726,1134659,1138448,1442191,1668526,2118430,2911882
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Total Assets,NaN,961355,1263055,1495134,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,LIABILITIES AND SHAREHOLDERS' EQUITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Short-term Loans,NaN,34715,15645,36159,36159,39474,57958,63767,88755,118522,88559,114921,0
25,Accounts Payable,NaN,15239,16359,23370,23370,19725,27325,30069,34357,40206,41095,48723,56522
26,Payables to Contractors and Equipment Supp...,NaN,44832,89810,26980,26980,26012,63154,55724,43134,140811,157805,145742,213500
27,Cash Dividends Payable,NaN,0,0,0,0,0,0,0,0,129652,129652,142617,142617
28,Accrued Expenses and Other Current Liabili...,NaN,53560,67964,114506,114505,103500,131692,150746,139397,129745,197440,282933,512274
29,Current Portion of Bonds Payable and Bank ...,NaN,128,0,0,0,23518,38110,58401,34900,31800,2600,4567,19314
30,Total Current Liabilities,NaN,148474,189778,201015,201014,212229,318239,358707,340543,590736,617151,739503,944227
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Non-current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Bonds Payable,NaN,80000,210768,213674,213674,191965,153094,91800,56900,25100,254105,610071,834336
34,Other Non-current Liabilities,NaN,9787,14734,34769,34033,30690,25071,18595,15189,26874,38833,205196,225727
35,Total Non-current Liabilities,NaN,89787,225502,248443,247707,222655,178165,110395,72089,51974,292938,815267,1060063
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Total Liabilities,NaN,238261,415280,449458,448721,434884,496404,469102,412632,642710,910089,1554770,2004290
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Equity Attributable to Shareholders of the Parent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Capital Stock at Par Value,NaN,259245,259286,259297,259297,259304,259304,259304,259304,259304,259304,259304,259304
41,Capital Surplus,NaN,55675,55859,55990,55990,56300,56272,56310,56316,56340,56347,64762,69330
42,Legal Capital Reserve,NaN,115820,132436,151251,151251,177641,208298,241723,276034,311147,311147,311147,311147
43,Special Capital Reserve,NaN,7606,2786,0,0,0,0,0,26907,10675,42259,59304,3154
44,Unappropriated Earnings,NaN,284985,382971,553262,553914,716653,863710,991639,1073706,1011513,1235280,1536378,2323224
45,Treasury Stock,NaN,0,0,0,0,0,0,0,0,0,0,0,0
46,Others,NaN,-2780,14170,25749,25749,11774,1664,-26918,-15450,-27569,-54680,-62609,-20506
47,Equity Attributable to Shareholders of...,NaN,720551,847508,1045549,1046201,1221672,1389248,1522058,1676817,1621410,1849657,2168286,2945653
48,Noncontrolling Interests,NaN,2543,267,127,127,962,803,702,679,685,965,2447,14836
49,Total Shareholders' Equity,NaN,723094,847775,1045676,1046328,1222634,1390051,1522760,1677496,1622095,1850622,2170733,2960489
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Total Liabilities & Shareholders' Equity,NaN,961355,1263055,1495134,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Exchange Rate (USD/NTD),NaN,29.038,29.8,31.718,31.718,32.895,32.199,29.659,30.74,29.988,28.097,27.674,30.713
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Note :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,"(1) Starting in 2015, TSMC prepares financial ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df.columns = ['1', '2', '3','4', '5','6','7', '8', '9', '10','11','12','13','14']
selected_cols = ['1','3','4', '6','7', '8', '9', '10','11','12','13','14']
df = df[selected_cols]

df

,1,3,4,6,7,8,9,10,11,12,13,14
0,Consolidated Condensed Balance Sheets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(In Millions of New Taiwan Dollars),2012,2013,2014 (1),2015,2016,2017,2018,2019,2020,2021,2022
3,NaN,(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited),(Audited)
4,NaN,NaN,NaN,(Adjusted),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ASSETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cash and Cash Equivalents,143411,242695,358449,562689,541254,553392,577815,455399,660171,1064990,1342814
8,Investments in Marketable Financial Instru...,7507,2647,78475,23474,90855,95967,117367,128049,131306,123465,218672
9,Accounts Receivable,58131,71942,115048,85565,129305,122317,129198,139771,146038,198302,231340
10,Inventories,37831,37495,66338,67052,48682,73881,103231,82981,137353,193102,221149
11,Other Current Assets,3446,3708,8256,7964,7633,11646,24069,16414,17317,27214,38922
12,Total Current Assets,250326,358487,626566,746744,817729,857203,951680,822614,1092185,1607073,2052897
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Non-current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Long-term Investments,65717,89184,30056,34994,46154,41569,29305,30172,27728,29384,68928
16,"Property, Plant and Equipment",617562,792666,818199,853470,997778,1062543,1072050,1352377,1555589,1975119,2693837
17,"Right-of-use, Intangible and Other Non-cur...",27750,22718,20228,22310,24794,30547,37093,59642,85209,113927,149117
18,Total Non-current Assets,711029,904568,868483,910774,1068726,1134659,1138448,1442191,1668526,2118430,2911882
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Total Assets,961355,1263055,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,LIABILITIES AND SHAREHOLDERS' EQUITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Short-term Loans,34715,15645,36159,39474,57958,63767,88755,118522,88559,114921,0
25,Accounts Payable,15239,16359,23370,19725,27325,30069,34357,40206,41095,48723,56522
26,Payables to Contractors and Equipment Supp...,44832,89810,26980,26012,63154,55724,43134,140811,157805,145742,213500
27,Cash Dividends Payable,0,0,0,0,0,0,0,129652,129652,142617,142617
28,Accrued Expenses and Other Current Liabili...,53560,67964,114505,103500,131692,150746,139397,129745,197440,282933,512274
29,Current Portion of Bonds Payable and Bank ...,128,0,0,23518,38110,58401,34900,31800,2600,4567,19314
30,Total Current Liabilities,148474,189778,201014,212229,318239,358707,340543,590736,617151,739503,944227
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Non-current Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Bonds Payable,80000,210768,213674,191965,153094,91800,56900,25100,254105,610071,834336
34,Other Non-current Liabilities,9787,14734,34033,30690,25071,18595,15189,26874,38833,205196,225727
35,Total Non-current Liabilities,89787,225502,247707,222655,178165,110395,72089,51974,292938,815267,1060063
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Total Liabilities,238261,415280,448721,434884,496404,469102,412632,642710,910089,1554770,2004290
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Equity Attributable to Shareholders of the Parent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Capital Stock at Par Value,259245,259286,259297,259304,259304,259304,259304,259304,259304,259304,259304
41,Capital Surplus,55675,55859,55990,56300,56272,56310,56316,56340,56347,64762,69330
42,Legal Capital Reserve,115820,132436,151251,177641,208298,241723,276034,311147,311147,311147,311147
43,Special Capital Reserve,7606,2786,0,0,0,0,26907,10675,42259,59304,3154
44,Unappropriated Earnings,284985,382971,553914,716653,863710,991639,1073706,1011513,1235280,1536378,2323224
45,Treasury Stock,0,0,0,0,0,0,0,0,0,0,0
46,Others,-2780,14170,25749,11774,1664,-26918,-15450,-27569,-54680,-62609,-20506
47,Equity Attributable to Shareholders of...,720551,847508,1046201,1221672,1389248,1522058,1676817,1621410,1849657,2168286,2945653
48,Noncontrolling Interests,2543,267,127,962,803,702,679,685,965,2447,14836
49,Total Shareholders' Equity,723094,847775,1046328,1222634,1390051,1522760,1677496,1622095,1850622,2170733,2960489
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Total Liabilities & Shareholders' Equity,961355,1263055,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Exchange Rate (USD/NTD),29.038,29.8,31.718,32.895,32.199,29.659,30.74,29.988,28.097,27.674,30.713
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Note :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,"(1) Starting in 2015, TSMC prepares financial ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df = df.dropna()
df

,1,3,4,6,7,8,9,10,11,12,13,14
2,(In Millions of New Taiwan Dollars),2012,2013,2014 (1),2015,2016,2017,2018,2019,2020,2021,2022
7,Cash and Cash Equivalents,143411,242695,358449,562689,541254,553392,577815,455399,660171,1064990,1342814
8,Investments in Marketable Financial Instru...,7507,2647,78475,23474,90855,95967,117367,128049,131306,123465,218672
9,Accounts Receivable,58131,71942,115048,85565,129305,122317,129198,139771,146038,198302,231340
10,Inventories,37831,37495,66338,67052,48682,73881,103231,82981,137353,193102,221149
11,Other Current Assets,3446,3708,8256,7964,7633,11646,24069,16414,17317,27214,38922
12,Total Current Assets,250326,358487,626566,746744,817729,857203,951680,822614,1092185,1607073,2052897
15,Long-term Investments,65717,89184,30056,34994,46154,41569,29305,30172,27728,29384,68928
16,"Property, Plant and Equipment",617562,792666,818199,853470,997778,1062543,1072050,1352377,1555589,1975119,2693837
17,"Right-of-use, Intangible and Other Non-cur...",27750,22718,20228,22310,24794,30547,37093,59642,85209,113927,149117
18,Total Non-current Assets,711029,904568,868483,910774,1068726,1134659,1138448,1442191,1668526,2118430,2911882
20,Total Assets,961355,1263055,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
24,Short-term Loans,34715,15645,36159,39474,57958,63767,88755,118522,88559,114921,0
25,Accounts Payable,15239,16359,23370,19725,27325,30069,34357,40206,41095,48723,56522
26,Payables to Contractors and Equipment Supp...,44832,89810,26980,26012,63154,55724,43134,140811,157805,145742,213500
27,Cash Dividends Payable,0,0,0,0,0,0,0,129652,129652,142617,142617
28,Accrued Expenses and Other Current Liabili...,53560,67964,114505,103500,131692,150746,139397,129745,197440,282933,512274
29,Current Portion of Bonds Payable and Bank ...,128,0,0,23518,38110,58401,34900,31800,2600,4567,19314
30,Total Current Liabilities,148474,189778,201014,212229,318239,358707,340543,590736,617151,739503,944227
33,Bonds Payable,80000,210768,213674,191965,153094,91800,56900,25100,254105,610071,834336
34,Other Non-current Liabilities,9787,14734,34033,30690,25071,18595,15189,26874,38833,205196,225727
35,Total Non-current Liabilities,89787,225502,247707,222655,178165,110395,72089,51974,292938,815267,1060063
37,Total Liabilities,238261,415280,448721,434884,496404,469102,412632,642710,910089,1554770,2004290
40,Capital Stock at Par Value,259245,259286,259297,259304,259304,259304,259304,259304,259304,259304,259304
41,Capital Surplus,55675,55859,55990,56300,56272,56310,56316,56340,56347,64762,69330
42,Legal Capital Reserve,115820,132436,151251,177641,208298,241723,276034,311147,311147,311147,311147
43,Special Capital Reserve,7606,2786,0,0,0,0,26907,10675,42259,59304,3154
44,Unappropriated Earnings,284985,382971,553914,716653,863710,991639,1073706,1011513,1235280,1536378,2323224
45,Treasury Stock,0,0,0,0,0,0,0,0,0,0,0
46,Others,-2780,14170,25749,11774,1664,-26918,-15450,-27569,-54680,-62609,-20506
47,Equity Attributable to Shareholders of...,720551,847508,1046201,1221672,1389248,1522058,1676817,1621410,1849657,2168286,2945653
48,Noncontrolling Interests,2543,267,127,962,803,702,679,685,965,2447,14836
49,Total Shareholders' Equity,723094,847775,1046328,1222634,1390051,1522760,1677496,1622095,1850622,2170733,2960489
51,Total Liabilities & Shareholders' Equity,961355,1263055,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
53,Exchange Rate (USD/NTD),29.038,29.8,31.718,32.895,32.199,29.659,30.74,29.988,28.097,27.674,30.713

In [87]:
selected_row_names = ['Total Assets', "            Total Liabilities", "Total Liabilities & Shareholders' Equity", 'Exchange Rate (USD/NTD)']

selected_rows = [df[df['1'].isin(selected_row_names)]]

# Access the first DataFrame in the list and display it
selected_rows[0]

df = selected_rows[0]
df

,1,3,4,6,7,8,9,10,11,12,13,14
20,Total Assets,961355,1263055,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
37,Total Liabilities,238261,415280,448721,434884,496404,469102,412632,642710,910089,1554770,2004290
51,Total Liabilities & Shareholders' Equity,961355,1263055,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
53,Exchange Rate (USD/NTD),29.038,29.8,31.718,32.895,32.199,29.659,30.74,29.988,28.097,27.674,30.713

In [88]:
new_column_names = {'3': '2012', '4': '2013', '6':'2014', '7':'2015', 
                   '8':'2016', '9': '2017', '10': '2018', '11': '2019', 
                    '12': '2020', '13': '2021', '14': '2022'}
df = df.rename(columns=new_column_names)
df

,1,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
20,Total Assets,961355,1263055,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
37,Total Liabilities,238261,415280,448721,434884,496404,469102,412632,642710,910089,1554770,2004290
51,Total Liabilities & Shareholders' Equity,961355,1263055,1495049,1657518,1886455,1991862,2090128,2264805,2760711,3725503,4964779
53,Exchange Rate (USD/NTD),29.038,29.8,31.718,32.895,32.199,29.659,30.74,29.988,28.097,27.674,30.713

In [89]:
# Group by the 'samsung' column and sum the values for each group
grouped_df = df.groupby('1').sum().reset_index()

# Transpose the DataFrame to switch rows and columns
combined_df = grouped_df.T.reset_index()

# Set the first row as column headers
combined_df.columns = combined_df.iloc[0]

# Drop the first row (which is now duplicated as column headers)
combined_df = combined_df[1:].reset_index(drop=True)

# Rename the index column
combined_df = combined_df.rename(columns={'1': 'Year'})

# Convert the 'Year' column to a string for better representation
combined_df['Year'] = combined_df['Year'].astype(str)

# Display the resulting DataFrame
combined_df

,Year,Total Liabilities,Exchange Rate (USD/NTD),Total Assets,Total Liabilities & Shareholders' Equity
0,2012,238261,29.038,961355,961355
1,2013,415280,29.8,1263055,1263055
2,2014,448721,31.718,1495049,1495049
3,2015,434884,32.895,1657518,1657518
4,2016,496404,32.199,1886455,1886455
5,2017,469102,29.659,1991862,1991862
6,2018,412632,30.74,2090128,2090128
7,2019,642710,29.988,2264805,2264805
8,2020,910089,28.097,2760711,2760711
9,2021,1554770,27.674,3725503,3725503
10,2022,2004290,30.713,4964779,4964779

In [90]:
# Extract the exchange rate for each year
exchange_rates = combined_df.loc[:, 'Exchange Rate (USD/NTD)']

# Iterate through each column (excluding the 'Exchange Rate (USD/NTD)' and 'Year' columns)
for col in combined_df.columns.difference(['Exchange Rate (USD/NTD)', 'Year']):
    # Multiply values by 1 million to convert to New Taiwan Dollars
    combined_df[col] = combined_df[col] * 1_000_000
    # Convert the values to thousands of US dollars using the exchange rate
    combined_df[col] = (combined_df[col] / 1000 / exchange_rates).astype(int)  # Convert to integer

combined_df

,Year,Total Liabilities,Exchange Rate (USD/NTD),Total Assets,Total Liabilities & Shareholders' Equity
0,2012,8205144,29.038,33106791,33106791
1,2013,13935570,29.8,42384395,42384395
2,2014,14147203,31.718,47135664,47135664
3,2015,13220367,32.895,50388144,50388144
4,2016,15416752,32.199,58587378,58587378
5,2017,15816514,29.659,67158771,67158771
6,2018,13423292,30.74,67993754,67993754
7,2019,21432239,29.988,75523709,75523709
8,2020,32390967,28.097,98256433,98256433
9,2021,56181614,27.674,134621052,134621052
10,2022,65258685,30.713,161650734,161650734

In [91]:
selected_cols = ['Year', 'Total Assets', '            Total Liabilities', "Total Liabilities & Shareholders' Equity"]
combined_df = combined_df[selected_cols]

combined_df

,Year,Total Assets,Total Liabilities,Total Liabilities & Shareholders' Equity
0,2012,33106791,8205144,33106791
1,2013,42384395,13935570,42384395
2,2014,47135664,14147203,47135664
3,2015,50388144,13220367,50388144
4,2016,58587378,15416752,58587378
5,2017,67158771,15816514,67158771
6,2018,67993754,13423292,67993754
7,2019,75523709,21432239,75523709
8,2020,98256433,32390967,98256433
9,2021,134621052,56181614,134621052
10,2022,161650734,65258685,161650734

In [94]:
print(combined_df.columns)

Index(['Year', 'Total Assets', '            Total Liabilities',
       'Total Liabilities & Shareholders' Equity'],
      dtype='object', name=0)

In [95]:
new_column_names = {'Total Assets': 'TSMC Total assets', '            Total Liabilities': 'TSMC Total liabilities', "Total Liabilities & Shareholders' Equity": 'TSMC Total liabilities and equity'}
combined_df = combined_df.rename(columns=new_column_names)
combined_df

,Year,TSMC Total assets,TSMC Total liabilities,TSMC Total liabilities and equity
0,2012,33106791,8205144,33106791
1,2013,42384395,13935570,42384395
2,2014,47135664,14147203,47135664
3,2015,50388144,13220367,50388144
4,2016,58587378,15416752,58587378
5,2017,67158771,15816514,67158771
6,2018,67993754,13423292,67993754
7,2019,75523709,21432239,75523709
8,2020,98256433,32390967,98256433
9,2021,134621052,56181614,134621052
10,2022,161650734,65258685,161650734

In [96]:
combined_df.to_csv('TSMC_FS.csv', index=False)