In [60]:
import pandas as pd

# (In thousands of US dollars)

df_2013 = pd.read_excel('2013_con_quarter04_bs.xlsx')
df_2015 = pd.read_excel('2015_con_quarter04_bs.xlsx')
df_2017 = pd.read_excel('2017_con_quarter04_bs.xlsx')
df_2019 = pd.read_excel('2019_con_quarter04_bs.xlsx')
df_2021 = pd.read_excel('2021_con_quarter04_bs.xlsx')
df_2022 = pd.read_excel('2022_con_quarter04_bs.xlsx')

print(df_2013.head(15))

                                           Unnamed: 0 Unnamed: 1  \
0                                                 NaN        NaN
1   Samsung Electronics Co., Ltd. and its subsidia...        NaN
2                                                 NaN        NaN
3       CONSOLIDATED STATEMENTS OF FINANCIAL POSITION        NaN
4                                                 NaN        NaN
5   (In millions of Korean won, in thousands of US...        NaN
6                                                 NaN        NaN
7                                                 NaN        NaN
8                                                 NaN      Notes
9                                                 NaN        NaN
10                                             Assets        NaN
11                                     Current assets        NaN
12                          Cash and cash equivalents    4, 6, 7
13                   Short-term financial instruments    5, 6, 7
14                Available-for-sale financial assets       6, 9

      Unnamed: 2    Unnamed: 3    Unnamed: 4    Unnamed: 5
0            NaN           NaN           NaN           NaN
1            NaN           NaN           NaN           NaN
2            NaN           NaN           NaN           NaN
3            NaN           NaN           NaN           NaN
4            NaN           NaN           NaN           NaN
5            NaN           NaN           NaN           NaN
6            NaN           NaN           NaN           NaN
7   December 31,  December 31,  December 31,  December 31,
8           2013          2012          2013          2012
9            KRW           KRW           USD           USD
10           NaN           NaN           NaN           NaN
11           NaN           NaN           NaN           NaN
12      16284780      18791460      15431422      17806747
13      36722702      17397937      34798353      16486248
14       1488527       1258874       1410525       1192906

In [61]:
# Choose columns need
df_2013.columns = ['Column1', 'Column2', 'Column3', 'Column4','Column5','Column6']
selected_cols = ['Column1', 'Column5', 'Column6']
df_2013 = df_2013[selected_cols]

df_2013

                                              Column1    Column5    Column6
0                                                 NaN        NaN        NaN
1   Samsung Electronics Co., Ltd. and its subsidia...        NaN        NaN
2                                                 NaN        NaN        NaN
3       CONSOLIDATED STATEMENTS OF FINANCIAL POSITION        NaN        NaN
4                                                 NaN        NaN        NaN
..                                                ...        ...        ...
89                       Total liabilities and equity  202857025  171583029
90                                                NaN        NaN        NaN
91  The accompanying notes are an integral part of...        NaN        NaN
92                                                NaN        NaN        NaN
93                                                  4        NaN        NaN

[94 rows x 3 columns]

In [62]:
# Rename columns, Select specific columns, drop NA
def process_yearly_data(df):
    # Rename columns
    df.columns = ['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6']
    
    # Select specific columns
    selected_cols = ['Column1', 'Column5', 'Column6']
    df_processed = df[selected_cols]
    
    # drop NA
    df_processed = df_processed.dropna()
    
    return df_processed

In [63]:
df_2013 = df_2013.dropna()
df_2013

                                Column1    Column5    Column6
12            Cash and cash equivalents   15431422   17806747
13     Short-term financial instruments   34798353   16486248
14  Available-for-sale financial assets    1410525    1192906
15          Trade and other receivables   26415175   25276790
16                             Advances    1827147    1586684
17                     Prepaid expenses    2343362    2143688
18                          Inventories   18132160   16817410
19                 Other current assets    2023680    1385459
20                 Assets held for sale    2574370          -
21                 Total current assets  104956194   82695932
23  Available-for-sale financial assets    5911475    4955155
24        Associates and joint ventures    6085750    8325110
25        Property, plant and equipment   71540214   64895995
26                    Intangible assets    3772008    3534260
27           Long-term prepaid expenses    3284168    3331260
28           Deferred income tax assets    4379589    2384232
29             Other non-current assets    2927627    1461085
30                         Total assets  202857025  171583029
46             Trade and other payables   16709661   16004312
47                Short-term borrowings    6101125    8001281
48                    Advances received    1616899    1438143
49                         Withholdings    1114419     915734
50                     Accrued expenses   10750052    8997589
51                   Income tax payable    3208583    3054045
53            borrowings and debentures    2298712     946660
54                           Provisions    6383470    4789968
55            Other current liabilities     443450     325927
56            Total current liabilities   48626371   44473659
58   Long-term trade and other payables     998537    1104786
59                           Debentures    1242365    1733511
60                 Long-term borrowings     933495    3433174
61      Net defined benefit liabilities    1757701    1639286
62      Deferred income tax liabilities    5697310    3249756
63                           Provisions     436771     387121
64        Other non-current liabilities    1009628     447355
65                    Total liabilities   60702178   56468648
82                      Preferred stock     113207     113207
83                         Common stock     737276     737276
84                        Share premium    4173119    4173119
85                    Retained earnings  140813307  113698180
86           Other components of equity   -8963398   -7763711
87            Non-controlling interests    5281336    4156310
88                         Total equity  142154847  115114381
89         Total liabilities and equity  202857025  171583029

In [64]:
new_column_names = {'Column1': 'samsung', 'Column5': '2013', 'Column6': '2012'}
df_2013_2012 = df_2013.rename(columns=new_column_names)
df_2013_2012

                                samsung       2013       2012
12            Cash and cash equivalents   15431422   17806747
13     Short-term financial instruments   34798353   16486248
14  Available-for-sale financial assets    1410525    1192906
15          Trade and other receivables   26415175   25276790
16                             Advances    1827147    1586684
17                     Prepaid expenses    2343362    2143688
18                          Inventories   18132160   16817410
19                 Other current assets    2023680    1385459
20                 Assets held for sale    2574370          -
21                 Total current assets  104956194   82695932
23  Available-for-sale financial assets    5911475    4955155
24        Associates and joint ventures    6085750    8325110
25        Property, plant and equipment   71540214   64895995
26                    Intangible assets    3772008    3534260
27           Long-term prepaid expenses    3284168    3331260
28           Deferred income tax assets    4379589    2384232
29             Other non-current assets    2927627    1461085
30                         Total assets  202857025  171583029
46             Trade and other payables   16709661   16004312
47                Short-term borrowings    6101125    8001281
48                    Advances received    1616899    1438143
49                         Withholdings    1114419     915734
50                     Accrued expenses   10750052    8997589
51                   Income tax payable    3208583    3054045
53            borrowings and debentures    2298712     946660
54                           Provisions    6383470    4789968
55            Other current liabilities     443450     325927
56            Total current liabilities   48626371   44473659
58   Long-term trade and other payables     998537    1104786
59                           Debentures    1242365    1733511
60                 Long-term borrowings     933495    3433174
61      Net defined benefit liabilities    1757701    1639286
62      Deferred income tax liabilities    5697310    3249756
63                           Provisions     436771     387121
64        Other non-current liabilities    1009628     447355
65                    Total liabilities   60702178   56468648
82                      Preferred stock     113207     113207
83                         Common stock     737276     737276
84                        Share premium    4173119    4173119
85                    Retained earnings  140813307  113698180
86           Other components of equity   -8963398   -7763711
87            Non-controlling interests    5281336    4156310
88                         Total equity  142154847  115114381
89         Total liabilities and equity  202857025  171583029

In [68]:
new_column_order = ['samsung', '2012', '2013']
df_2012_2013 = df_2013_2012[new_column_order]
df_2012_2013

                                samsung       2012       2013
12            Cash and cash equivalents   17806747   15431422
13     Short-term financial instruments   16486248   34798353
14  Available-for-sale financial assets    1192906    1410525
15          Trade and other receivables   25276790   26415175
16                             Advances    1586684    1827147
17                     Prepaid expenses    2143688    2343362
18                          Inventories   16817410   18132160
19                 Other current assets    1385459    2023680
20                 Assets held for sale          -    2574370
21                 Total current assets   82695932  104956194
23  Available-for-sale financial assets    4955155    5911475
24        Associates and joint ventures    8325110    6085750
25        Property, plant and equipment   64895995   71540214
26                    Intangible assets    3534260    3772008
27           Long-term prepaid expenses    3331260    3284168
28           Deferred income tax assets    2384232    4379589
29             Other non-current assets    1461085    2927627
30                         Total assets  171583029  202857025
46             Trade and other payables   16004312   16709661
47                Short-term borrowings    8001281    6101125
48                    Advances received    1438143    1616899
49                         Withholdings     915734    1114419
50                     Accrued expenses    8997589   10750052
51                   Income tax payable    3054045    3208583
53            borrowings and debentures     946660    2298712
54                           Provisions    4789968    6383470
55            Other current liabilities     325927     443450
56            Total current liabilities   44473659   48626371
58   Long-term trade and other payables    1104786     998537
59                           Debentures    1733511    1242365
60                 Long-term borrowings    3433174     933495
61      Net defined benefit liabilities    1639286    1757701
62      Deferred income tax liabilities    3249756    5697310
63                           Provisions     387121     436771
64        Other non-current liabilities     447355    1009628
65                    Total liabilities   56468648   60702178
82                      Preferred stock     113207     113207
83                         Common stock     737276     737276
84                        Share premium    4173119    4173119
85                    Retained earnings  113698180  140813307
86           Other components of equity   -7763711   -8963398
87            Non-controlling interests    4156310    5281336
88                         Total equity  115114381  142154847
89         Total liabilities and equity  171583029  202857025

In [65]:
# change all

df_2015 = process_yearly_data(df_2015)
df_2017 = process_yearly_data(df_2017)
df_2019 = process_yearly_data(df_2019)
df_2021 = process_yearly_data(df_2021)
df_2022 = process_yearly_data(df_2022)

df_2015

                              Column1    Column5    Column6
12          Cash and cash equivalents   20009497   14886207
13   Short-term financial instruments   39095554   36851212
16                   financial assets    4090453    2905328
17                  Trade receivables   22246995   21828525
18              Non-trade receivables    2963549    3129033
19                           Advances    1508002    1758570
20                   Prepaid expenses    2802645    2958184
21                        Inventories   16628475   15307614
22               Other current assets     915283    1586797
23               Assets held-for-sale      68129     570574
24               Total current assets  110328582  101782044
27                   financial assets    7365403   11197303
30                           ventures    4663969    4625175
31      Property, plant and equipment   76440476   71486741
32                  Intangible assets    4770009    4230065
33         Long-term prepaid expenses    3795988    4293402
34         Deferred income tax assets    4940429    4001234
35           Other non-current assets    1767027    2063836
36                       Total assets  214071883  203679800
52           Trade and other payables    5469187    6996114
53              Short-term borrowings    9860713    7097409
54                     Other payables    7835568    9120841
55                  Advances received    1187512    1261584
56                       Withholdings     877515    1026814
57                   Accrued expenses   10279094   11382283
58                 Income tax payable    3006828    1910288
60                        liabilities     195835    1572233
61                         Provisions    5675420    5296128
62          Other current liabilities     253810     288393
63          Liabilities held-for-sale          -      25030
64          Total current liabilities   44641482   45977117
66                         Debentures    1087641    1198517
67               Long-term borrowings     235607      89871
68           Long-term other payables    2688665    2264891
69    Net defined benefit liabilities     317175     177974
70    Deferred income tax liabilities    4556521    3622214
71                         Provisions     461750     441342
72      Other non-current liabilities    1805127    1328198
73                  Total liabilities   55793968   55100124
90                    Preferred stock     105602     105602
91                       Common stock     687746     687746
92                      Share premium    3892772    3892772
93                  Retained earnings  163645376  149853800
94         Other components of equity  -15540044  -11252000
97                           for-sale      21035      70804
99          Non-controlling interests    5465428    5220952
100                      Total equity  158277915  148579676
101      Total liabilities and equity  214071883  203679800

In [70]:
new_column_names = {'Column1': 'samsung', 'Column5': '2015', 'Column6': '2014'}
df_2015_2014 = df_2015.rename(columns=new_column_names)

new_column_order = ['samsung', '2014', '2015']
df_2014_2015 = df_2015_2014[new_column_order]
df_2014_2015

                              samsung       2014       2015
12          Cash and cash equivalents   14886207   20009497
13   Short-term financial instruments   36851212   39095554
16                   financial assets    2905328    4090453
17                  Trade receivables   21828525   22246995
18              Non-trade receivables    3129033    2963549
19                           Advances    1758570    1508002
20                   Prepaid expenses    2958184    2802645
21                        Inventories   15307614   16628475
22               Other current assets    1586797     915283
23               Assets held-for-sale     570574      68129
24               Total current assets  101782044  110328582
27                   financial assets   11197303    7365403
30                           ventures    4625175    4663969
31      Property, plant and equipment   71486741   76440476
32                  Intangible assets    4230065    4770009
33         Long-term prepaid expenses    4293402    3795988
34         Deferred income tax assets    4001234    4940429
35           Other non-current assets    2063836    1767027
36                       Total assets  203679800  214071883
52           Trade and other payables    6996114    5469187
53              Short-term borrowings    7097409    9860713
54                     Other payables    9120841    7835568
55                  Advances received    1261584    1187512
56                       Withholdings    1026814     877515
57                   Accrued expenses   11382283   10279094
58                 Income tax payable    1910288    3006828
60                        liabilities    1572233     195835
61                         Provisions    5296128    5675420
62          Other current liabilities     288393     253810
63          Liabilities held-for-sale      25030          -
64          Total current liabilities   45977117   44641482
66                         Debentures    1198517    1087641
67               Long-term borrowings      89871     235607
68           Long-term other payables    2264891    2688665
69    Net defined benefit liabilities     177974     317175
70    Deferred income tax liabilities    3622214    4556521
71                         Provisions     441342     461750
72      Other non-current liabilities    1328198    1805127
73                  Total liabilities   55100124   55793968
90                    Preferred stock     105602     105602
91                       Common stock     687746     687746
92                      Share premium    3892772    3892772
93                  Retained earnings  149853800  163645376
94         Other components of equity  -11252000  -15540044
97                           for-sale      70804      21035
99          Non-controlling interests    5220952    5465428
100                      Total equity  148579676  158277915
101      Total liabilities and equity  203679800  214071883

In [71]:
new_column_names = {'Column1': 'samsung', 'Column5': '2017', 'Column6': '2016'}
df_2017_2016 = df_2017.rename(columns=new_column_names)

new_column_order = ['samsung', '2016', '2017']
df_2016_2017 = df_2017_2016[new_column_order]
df_2016_2017

                                 samsung       2016       2017
12             Cash and cash equivalents   28390168   27005370
13      Short-term financial instruments   46356216   43717389
17                     Trade receivables   21465585   24486410
18                 Non-trade receivables    3113139    3632789
19                      Advance payments    1273069    1550446
20                      Prepaid expenses    3096240    3390770
21                           Inventories   16226585   22088128
22                  Other current assets    1163185    1256378
23                  Assets held-for-sale     738948          -
24                  Total current assets  125039948  129949219
29     Held-to-maturity financial assets          -      94380
30    Investment in associates and joint    5161354    6014052
32         Property, plant and equipment   80872574   98725136
33                     Intangible assets    4724722   13049946
34            Long-term prepaid expenses    3390427    3036378
35            Net defined benefit assets     492532     730182
36            Deferred income tax assets    4704767    4475107
37              Other non-current assets    1389850    3854967
38                          Total assets  231791928  266783176
55                        Trade payables    5733512    8031207
56                 Short-term borrowings   11269612   13940369
57                        Other payables   10190216   12288857
58                     Advances received    1201403    1104412
59                          Withholdings     605643     701617
60                      Accrued expenses   11075558   12374298
61                    Income tax payable    2508543    6549822
65                            Provisions    4064640    3797109
66             Other current liabilities     310478     356421
67             Liabilities held-for-sale     315088          -
68             Total current liabilities   48364643   59390443
70                            Debentures      51758     842880
71                  Long-term borrowings    1100048    1604177
72              Long-term other payables    2932653    1806889
73       Net defined benefit liabilities     153532     344735
74       Deferred income tax liabilities    6448296   10353663
75                            Provisions     316624     410515
76         Other non-current liabilities    1823101    2395050
77                     Total liabilities   61190655   77148352
94                     Preference shares     105622     105622
95                       Ordinary shares     687882     687882
96                         Share premium    3893542    3893542
97                     Retained earnings  170710271  190801652
98            Other components of equity  -10551532  -12288465
100  income attributable to assets held-     -25471          -
103            Non-controlling interests    5780959    6434591
104                         Total equity  170601273  189634824
105         Total liabilities and equity  231791928  266783176

In [73]:
new_column_names = {'Column1': 'samsung', 'Column5': '2019', 'Column6': '2018'}
df_2019_2018 = df_2019.rename(columns=new_column_names)

new_column_order = ['samsung', '2018', '2019']
df_2018_2019 = df_2019_2018[new_column_order]
df_2018_2019

                                 samsung       2018       2019
12             Cash and cash equivalents   26033073   23069002
13      Short-term financial instruments   56538875   65426571
14        Short-term financial assets at    2319851    3358516
16   Short-term financial assets at fair    1717732    1482192
18                     Trade receivables   29059541   30143757
19                 Non-trade receivables    2643362    3585812
20                      Advance payments    1168472    1224266
21                      Prepaid expenses    3548957    2064610
22                           Inventories   24869754   22966437
23                  Other current assets    1996067    2312887
24                  Total current assets  149895684  155634050
26    Financial assets at amortized cost     204476          -
28           through other comprehensive    6264780    7654241
36         Property, plant and equipment   99031047  102813888
37                     Intangible assets   12777442   17764234
38            Net defined benefit assets     482518     506094
39            Deferred income tax assets    4691711    3865469
40              Other non-current assets   10890850    6859137
41                          Total assets  291178800  302511023
58                        Trade payables    7276025    7480499
59                 Short-term borrowings   11657766   12350032
60                        Other payables    9190823   10298520
61                     Advances received     703812     919862
62                          Withholdings     816205     769958
63                      Accrued expenses   17452068   16611144
64        Current income tax liabilities    7482067    1190751
68                            Provisions    3761637    3491005
69             Other current liabilities     904980     889802
70             Total current liabilities   59274029   54727544
72                            Debentures     825401     836835
73                  Long-term borrowings      73006    1885248
74              Long-term other payables    2740586    1874152
75       Net defined benefit liabilities     432502     403944
76       Deferred income tax liabilities   13009904   14632684
77                  Long-term provisions     569405     524342
78         Other non-current liabilities    1674233    2066906
79                     Total liabilities   78599066   76951655
96                     Preference shares     102506     102506
97                       Ordinary shares     667588     667588
98                         Share premium    3778674    3778674
99                     Retained earnings  208243059  218439838
100           Other components of equity   -6805356   -4263406
102            Non-controlling interests    6593263    6834168
103                         Total equity  212579734  225559368
104         Total liabilities and equity  291178800  302511023

In [74]:
new_column_names = {'Column1': 'samsung', 'Column5': '2021', 'Column6': '2020'}
df_2021_2020 = df_2021.rename(columns=new_column_names)

new_column_order = ['samsung', '2020', '2021']
df_2020_2021 = df_2021_2020[new_column_order]
df_2020_2021

                                           samsung       2020       2021
12                       Cash and cash equivalents   25681845   34115412
13                Short-term financial instruments   80798680   71417748
14   Short-term financial assets at amortized cost    2409853    2944705
16                          through profit or loss      62452      35624
17                               Trade receivables   27065012   35585565
18                           Non-trade receivables    3150548    3930828
19                                Prepaid expenses    1980685    2042001
20                                     Inventories   28007314   36172043
21                            Other current assets    3281589    4441629
22                            Assets held-for-sale     812370          -
26              through other comprehensive income   10991369   12206843
28                          through profit or loss    1051455    1333227
29     Investment in associates and joint ventures    7059510    7807235
30                   Property, plant and equipment  112711289  131045055
31                               Intangible assets   16142396   17687491
32                      Net defined benefit assets    1184777    2455722
33                      Deferred income tax assets    3736564    3724515
34                        Other non-current assets    4469261    5942625
36                                    Total assets  330596969  372888268
53                                  Trade payables    8512568   11758903
54                           Short-term borrowings   14468526   11963817
55                                  Other payables   10400341   13621954
56                               Advances received    1001157    1070547
57                                    Withholdings     851780    1131066
58                                Accrued expenses   21265935   24410498
59                  Current income tax liabilities    3872280    5899094
60        Current portion of long-term liabilities     625906    1162459
61                                      Provisions    3801736    4696159
62                       Other current liabilities     985685    1304292
63                       Liabilities held-for-sale     296077          -
66                                      Debentures     828719     444220
67                            Long-term borrowings    1747852    2505164
68                        Long-term other payables    1470948    2614668
69                 Net defined benefit liabilities     405960     407206
70                 Deferred income tax liabilities   16441621   20276394
71                            Long-term provisions     919001    2016428
72                   Other non-current liabilities    1508485    1107582
74                               Total liabilities   89404577  106390451
90                               Preference shares     104420     104420
91                                 Ordinary shares     680052     680052
92                                   Share premium    3849223    3849223
93                               Retained earnings  236927198  256153287
94                      Other components of equity   -7593008   -1860392
96            attributable to assets held-for-sale     -10604          -
98                       Non-controlling interests    7235111    7571227
99                                    Total equity  241192392  266497817
100                   Total liabilities and equity  330596969  372888268

In [75]:
new_column_names = {'Column1': 'samsung', 'Column5': '2022', 'Column6': '2021'}
df_2022_2021 = df_2022.rename(columns=new_column_names)

new_column_order = ['samsung', '2021', '2022']
df_2021_2022 = df_2022_2021[new_column_order]
df_2021_2022

                                          samsung       2021       2022
12                      Cash and cash equivalents   30229997   38477921
13               Short-term financial instruments   63283957   50422462
14  Short-term financial assets at amortized cost    2609331     321117
16                         through profit or loss      31566      22523
17                              Trade receivables   31532713   27666503
18                          Non-trade receivables    3483145    4762589
19                               Prepaid expenses    1809437    2221141
20                                    Inventories   32052397   40419724
21                           Other current assets    3935772    4892415
25             through other comprehensive income   10816602    8827034
27                         through profit or loss    1181385    1088541
28    Investment in associates and joint ventures    6918066    8437348
29                  Property, plant and equipment  116120291  130151868
30                              Intangible assets   15673057   15658737
31                     Net defined benefit assets    2176039    4532377
32                     Deferred income tax assets    3300328    3950992
33                       Other non-current assets    5265819    5453397
35                                   Total assets  330419902  347306689
52                                 Trade payables   10419678    8244355
53                          Short-term borrowings   10601254    3986617
54                                 Other payables   12070545   13625362
55                              Advances received     948622    1018422
56                                   Withholdings    1002249    1005496
57                               Accrued expenses   21630379   22624421
58                 Current income tax liabilities    5227245    3291951
59       Current portion of long-term liabilities    1030066     843561
60                                     Provisions    4161312    4526905
61                      Other current liabilities    1155744    1511331
64                                     Debentures     393628     415206
65                           Long-term borrowings    2219850    2757756
66                       Long-term other payables    2316883    2132446
67                Net defined benefit liabilities     360829     207854
68                Deferred income tax liabilities   17967108    3958748
69                           Long-term provisions    1786777    1493645
70                  Other non-current liabilities     981439     907535
72                              Total liabilities   94273608   72551611
88                              Preference shares      92528      92528
89                                Ordinary shares     602601     602601
90                                  Share premium    3410834    3410834
91                              Retained earnings  226979906  261740930
92                     Other components of equity   -1648512    1501243
94                      Non-controlling interests    6708937    7406942
95                                   Total equity  236146294  274755078
96                   Total liabilities and equity  330419902  347306689

In [119]:
selected_cols = ['samsung', '2022']
df_2022 = df_2021_2022[selected_cols]

df_2022

                                          samsung       2022
12                      Cash and cash equivalents   38477921
13               Short-term financial instruments   50422462
14  Short-term financial assets at amortized cost     321117
16                         through profit or loss      22523
17                              Trade receivables   27666503
18                          Non-trade receivables    4762589
19                               Prepaid expenses    2221141
20                                    Inventories   40419724
21                           Other current assets    4892415
25             through other comprehensive income    8827034
27                         through profit or loss    1088541
28    Investment in associates and joint ventures    8437348
29                  Property, plant and equipment  130151868
30                              Intangible assets   15658737
31                     Net defined benefit assets    4532377
32                     Deferred income tax assets    3950992
33                       Other non-current assets    5453397
35                                   Total assets  347306689
52                                 Trade payables    8244355
53                          Short-term borrowings    3986617
54                                 Other payables   13625362
55                              Advances received    1018422
56                                   Withholdings    1005496
57                               Accrued expenses   22624421
58                 Current income tax liabilities    3291951
59       Current portion of long-term liabilities     843561
60                                     Provisions    4526905
61                      Other current liabilities    1511331
64                                     Debentures     415206
65                           Long-term borrowings    2757756
66                       Long-term other payables    2132446
67                Net defined benefit liabilities     207854
68                Deferred income tax liabilities    3958748
69                           Long-term provisions    1493645
70                  Other non-current liabilities     907535
72                              Total liabilities   72551611
88                              Preference shares      92528
89                                Ordinary shares     602601
90                                  Share premium    3410834
91                              Retained earnings  261740930
92                     Other components of equity    1501243
94                      Non-controlling interests    7406942
95                                   Total equity  274755078
96                   Total liabilities and equity  347306689

In [126]:
selected_row_names = ['Total assets', 'Total liabilities', 'Total liabilities and equity']

selected_rows = []

# Loop through each DataFrame and select rows based on the specified row names
for df in [df_2012_2013, df_2014_2015, df_2016_2017, df_2018_2019, df_2020_2021, df_2022]:
    # Use the 'isin' method to check if the 'samsung' column matches the selected row names
    selected_rows_df = df[df['samsung'].isin(selected_row_names)]
    
    # Append the selected rows DataFrame to the list
    selected_rows.append(selected_rows_df)

# Concatenate the selected rows along the rows axis
df = pd.concat(selected_rows, axis=0, ignore_index=True)
df

,samsung,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Total assets,171583029,202857025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total liabilities,56468648,60702178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total liabilities and equity,171583029,202857025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Total assets,NaN,NaN,203679800,214071883,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total liabilities,NaN,NaN,55100124,55793968,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total liabilities and equity,NaN,NaN,203679800,214071883,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Total assets,NaN,NaN,NaN,NaN,231791928,266783176,NaN,NaN,NaN,NaN,NaN
7,Total liabilities,NaN,NaN,NaN,NaN,61190655,77148352,NaN,NaN,NaN,NaN,NaN
8,Total liabilities and equity,NaN,NaN,NaN,NaN,231791928,266783176,NaN,NaN,NaN,NaN,NaN
9,Total assets,NaN,NaN,NaN,NaN,NaN,NaN,291178800,302511023,NaN,NaN,NaN
10,Total liabilities,NaN,NaN,NaN,NaN,NaN,NaN,78599066,76951655,NaN,NaN,NaN
11,Total liabilities and equity,NaN,NaN,NaN,NaN,NaN,NaN,291178800,302511023,NaN,NaN,NaN
12,Total assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330596969,372888268,NaN
13,Total liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89404577,106390451,NaN
14,Total liabilities and equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330596969,372888268,NaN
15,Total assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347306689
16,Total liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72551611
17,Total liabilities and equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347306689

In [127]:
# Group by the 'samsung' column and sum the values for each group
grouped_df = df.groupby('samsung').sum().reset_index()

# Transpose the DataFrame to switch rows and columns
combined_df = grouped_df.T.reset_index()

# Set the first row as column headers
combined_df.columns = combined_df.iloc[0]

# Drop the first row (which is now duplicated as column headers)
combined_df = combined_df[1:].reset_index(drop=True)

# Rename the index column
combined_df = combined_df.rename(columns={'samsung': 'Year'})

# Convert the 'Year' column to a string for better representation
combined_df['Year'] = combined_df['Year'].astype(str)

# Display the resulting DataFrame
combined_df

0   Year Total assets Total liabilities Total liabilities and equity
0   2012    171583029          56468648                    171583029
1   2013    202857025          60702178                    202857025
2   2014    203679800          55100124                    203679800
3   2015    214071883          55793968                    214071883
4   2016    231791928          61190655                    231791928
5   2017    266783176          77148352                    266783176
6   2018    291178800          78599066                    291178800
7   2019    302511023          76951655                    302511023
8   2020    330596969          89404577                    330596969
9   2021    372888268         106390451                    372888268
10  2022    347306689          72551611                    347306689

In [130]:
new_column_names = {'Total assets': 'Samsung Total assets', 'Total liabilities': 'Samsung Total liabilities', 'Total liabilities and equity': 'Samsung Total liabilities and equity'}
combined_df = combined_df.rename(columns=new_column_names)
combined_df

,Year,Samsung Total assets,Samsung Total liabilities,Samsung Total liabilities and equity
0,2012,171583029,56468648,171583029
1,2013,202857025,60702178,202857025
2,2014,203679800,55100124,203679800
3,2015,214071883,55793968,214071883
4,2016,231791928,61190655,231791928
5,2017,266783176,77148352,266783176
6,2018,291178800,78599066,291178800
7,2019,302511023,76951655,302511023
8,2020,330596969,89404577,330596969
9,2021,372888268,106390451,372888268
10,2022,347306689,72551611,347306689

In [131]:
combined_df.to_csv('Samsung_FS.csv', index=False)